.tour-card {
  border-color: #e1e1e1;
  box-shadow: 0 0 25px rgba(10, 10, 10, 0.08);
  align-items: center;
  border-radius: 3px;
  &__heading {
    width: 100%;
    position: relative;
  }
  &__image {
    width: 400px;
    height: 240px;
    object-fit: cover;
  }
  &__body {
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: #7f7f7f;
  }
  &__name {
    font-family: var(--play);
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: 1rem;
  }
  &__icon {
    color: var(--main);
    margin-right: 0.4rem;
  }
  &__section {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  &__summary {
    margin: 2rem 0;
    color: #7f7f7f;
  }
  &__detail {
    display: inline-block;
    color: var(--main);
    font-size: 1.5rem;
  }
}
