.comment {
  padding: 1rem 0;
  border-top: 1px solid #dedfe0;
  padding-top: 2rem;
  display: flex;
  margin-bottom: 2rem;
  &__user {
    flex: 1;
    display: flex;
  }
  &__content {
    flex: 3;
    &-rating {
      font-size: 2rem;
    }
    &-thought {
      color: #29303b;
    }
  }
}
