.tour-section {
  padding: 4rem 0;
}

.tour-result {
  margin-left: 2rem;
}

.tour-list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}
