.auth-modal {
  padding: 1rem 2.5rem;
  top: 10%;
}

.auth-header {
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
}

.auth-content {
  &__forget {
    text-align: right;
    font-size: 1.3rem;
  }
  &__link {
    color: #2196f3;
  }
  &__signin {
    width: 100%;
    margin-top: 3rem;
    padding: 1.2rem 0;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    border-radius: 15rem;
    color: #fff;
    outline: none;
    background-image: linear-gradient(
      40deg,
      rgb(69, 202, 252),
      rgb(48, 63, 159)
    );
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
      0 4px 12px 0 rgba(121, 155, 254, 0.25);
    transition: all 0.3s;
    &:disabled {
      box-shadow: none;
      cursor: not-allowed;
      background: #ccc;
      color: #979797;
      border-color: #ccc;
      cursor: not-allowed;
    }
  }
  &__option {
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem 0;
  }
  &__social-signin {
    display: flex;
    justify-content: space-evenly;
    padding: 0 3rem;
    margin: 2rem 0;
  }
}

.auth-footer {
  border-top: 1px solid #d9d9d9;
  &__content {
    text-align: right;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}
