.pagination {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__btn {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    color: #000;
    transition: all 0.3s;
    &.active {
      color: #fff;
      background-color: var(--main);
    }
    &:hover,
    &:active {
      color: #fff;
      background-color: var(--main);
    }
  }
}
